# iOS simulator: http://localhost:5131
# Android emulator: http://10.0.2.2:5131
# Gercek cihaz: http://<BILGISAYARIN_YEREL_IP_ADRESI>:5131
# Bos birakirsan Expo gelistirme host'u kullanilarak otomatik algilama denenir.
EXPO_PUBLIC_BACKEND_URL=
